<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label>XD:
        <input id="time" type="time">
    </label>
    <!-- <label>XD:
        <input type="datetime" name="" id="datetime">Esto no papu
    </label> -->
    <label>XD:
        <input type="datetime-local" name="" id="datetime-local">
    </label>
    <label>XD:
        <input type="date" name="" id="date">
    </label>
</body>
</html>