/*TOOLS = funciones a nivel global, GENERIC = estilos de nivel global, ELEMENTS = etiquetas HTML?, OBJECT = clases, COMPONENTS = id?, UTILITIES = !important, ?*/

/* =SETTINGS
---------------------------------------------------------------------------------------------------------------------------------*/
/*@font-face {
    font-family: "Fuego";
    src: url(../fonts/charbb_reg.ttf);
}
@font-face {
    font-family: "VECTOR";
    src: url(../fonts/Newton\ Howard\ Font.ttf);
}
@font-face {
    font-family: "Texto";
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Titulos";
    src: url(../fonts/Fresh\ Fruit.ttf);
}*/
:root{
    /* --var-proporcionBarra: 0em; */

    --var-tamañoBarra: 5em;
    --var-tamañoIconNavbar: 5em;

    --var-colorFontNegro: black;
    --var-colorFontBlanco: white;

    
    --var-colorFondoOscuro: #2B2D42;
    --var-colorHeaderOscuro: #242325;
    --var-colorAzulPadre: #14002a;

    --var-colorAmarillo1: #FDCA40;
    --var-colorNaranja: #F79824;
    
    
    --var-colorCal: #4c2a85;
    --var-colorAulas: #6B7FD7;
    --var-colorPerfil: #C8C8C8;
    --var-colorJuegos: #F72C25;
    --var-colorForo: #fdc440;
    --var-colorDescubre: #a9E5BB;
}

/*
---------------------------------------------------------------------------------------------------------------------------------
=> ELEMENTS <=
---------------------------------------------------------------------------------------------------------------------------------*/
/*<>*/
body{
    background-color: #0D4F8C;
    /*background-color: var(--var-colorCal):*/
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 350%;
    color:white;
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 250%;
    color:white;
}

/*
---------------------------------------------------------------------------------------------------------------------------------
 => OBJECT <=
---------------------------------------------------------------------------------------------------------------------------------*/
/*.*/
.contenedor{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal{
    
    display: grid;
    grid-template-rows: 250px 200px;
    grid-template-columns: 108px 172px 263px;
    justify-items: center;

}
#crear,.start_asignacion{
    
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 250px 250px 250px;
    justify-items: center;
    align-items: center;

}
.choose{
    display: grid;
    /* grid-template-areas: 
    ""; */
}
.tbtn{
    background-color: var(--var-colorAmarillo1);
    padding: 10%;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 250%;
    color:#14002a;
}
.secciones_workSpace{    
    min-height: 100vh;
    padding: 7% 10%;

    background-color: rgba(0, 0, 0, 0.3);
}


/*
---------------------------------------------------------------------------------------------------------------------------------
 => COMPONENTS <=
---------------------------------------------------------------------------------------------------------------------------------*/
#cursos_disponibles{
    background-color: azure;
    width: 70%;
    height: 10%;
}
#right_sect{
    display: grid;  
    gap: 4vh;
    /*
    grid-template: 
        "multiblock"
        "efemerides" 
         
                    ;    */
}
