/*-----------------------------Body general------------------------------------------*/
body{
    background-image: url(../img/Aa.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 130%;
    /* display: flex; */
    box-sizing: border-box; 
}
/*-----------------------------Header------------------------------------------*/
#header{
    height: 14vh;
    background: #ffab2f;  
}

#divHeder{
    box-sizing: border-box; 

}

#escudoEnp6{
    margin: 8px;
    padding: 0.7vw;   
    float: left;
    border-radius: 1em;
    background-color: white;
}

#imgEnp6{
    padding: 10px;
    width: 5vw;
    height: 6vh;
}

#titulo{
    /* display: flex; */
    margin-left: 35vw;
    /* align-items: center; */
    /* margin-top: 1.5vw;
    font-size: 15pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

#escudoEnp{
    margin: 8px;
    padding: 10px;
    float: right;
    border-radius: 1em;
    background-color: white;
    margin-right: 1vw;
}

#imgEnp{
    /* padding: 0.5vw; */
    width: 6vw;
    height: 9.8vh;
    border-radius: 25px;
}

/*-----------------------------formulario------------------------------------------*/

#fondo_form{
    background-color: #070038;
    margin-top: 2.5vw;
    margin-left: 6vw;
    opacity: 0.85;
    height: 75vh;
    width: 87vw;
}

#formulario{
    padding: 10px;
    /* float right para profesores */
    float: left;
    margin-top: 7vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #D5DBDB;
    border: none;
    border-radius: 15px;
}

#nombreReg{
    display: flex;
    justify-content: center;
    justify-items: center;
}

#TitRegistro{
    margin-top: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    justify-content: center;
}

.campo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.input{
    border: none;
    border-radius: 10px;
    height: 3.3vh;
}

.checar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
}

#divBtn{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.btn{
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11pt;
    background-color: #ffbc2f;
    margin-left: 2vw;
}