/* =SETTINGS
---------------------------------------------------------------------------------------------------------------------------------*/
/*@font-face {
    font-family: "Fuego";
    src: url(../fonts/charbb_reg.ttf);
}
@font-face {
    font-family: "VECTOR";
    src: url(../fonts/Newton\ Howard\ Font.ttf);
}
@font-face {
    font-family: "Texto";
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Titulos";
    src: url(../fonts/Fresh\ Fruit.ttf);
}*/
/*TOOLS = funciones a nivel global, GENERIC = estilos de nivel global, ELEMENTS = etiquetas HTML?, OBJECT = clases, COMPONENTS = id?, UTILITIES = !important, ?*/
/* =ELEMENTS
---------------------------------------------------------------------------------------------------------------------------------*/
body{
    /*background-color: #fff8ce;    */
}
nav{
    display: flex;
    flex-direction: row;    
    align-items: center;
    align-self: center;
    align-content: center;        
}
/* =OBJECT
---------------------------------------------------------------------------------------------------------------------------------*/
.nav_Vestibulo{
    padding: 2em;
}





/* =COMPONENTS
---------------------------------------------------------------------------------------------------------------------------------*/
/*#*/
