<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>Registro a plataforma de estudio</legend>
            <lable for="nombre">Nombre: </lable>
            <input type="text" id="nombre" name="nombre">
            <br><br>
            <lable for="apellidos">Apellidos: </lable>
            <input type="text" id="apellidos" name="apellidos">
            <br><br>
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo">
            <label for="ncuenta">Numero de cuenta:</label>
            <input type="number" id="ncuenta" name="ncuenta">
        </fieldset>
    </form>
</body>
</html>