<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1 align="center">Registro</h1>
    <form action="../dynamics/respuestaRegistro.php" method="post">
        <fieldset>
            <legend>Registro a plataforma de estudio</legend>
            <lable for="nombre">Nombre: </lable>
            <input type="text" id="nombre" name="nombre">
            <br><br>
            <lable for="apellidos">Apellidos: </lable>
            <input type="text" id="apellidos" name="apellidos">
            <br><br>
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo">
            <br><br>
            <label for="ncuenta">Numero de cuenta:</label>
            <input type="number" id="ncuenta" name="ncuenta">
            <br><br>
            <label for="telefono">Numero de teléfono</label>
            <input type="number" id="telefono" name="telefono">
            <input type="checkbox" id="noMostrar" name="noMostrar" value="no" checked>
            <label for="noMostrar">No mostrar (recomendado)</label>
            <input type="checkbox" id="mostrar" name="mostrar" value="si">
            <label for="mostrar">Mostrar</label>
            <br/><br/>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </fieldset>
    </form>
</body>
</html>