<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>Inicio de sesión</legend>
            <label for="correoelectronico">Correo electrónico: </label>
            <input type="email" id="correoelectronico" name="correoelectronico"required><br><br>
            <label for="numerocuenta">Número de cuenta: </label>
            <input type="number" id="numerocuenta" name="numerocuenta" required><br><br>
            <label for="rfc">RFC (si es profesor o profesora): </label>
            <input type="text" id="rfc" name="RFC" required><br><br>
            <label for="contrasena">Contraseña: </label>
            <input type="password" id="contrasena" name="contrasena"required><br><br>

            <button type="submit">Enviar</button>
            <>
            

            





        </fieldset>


    </form>
</body>
</html>
<>